.testimonials {
    padding: 25px 0;
    text-align: center;
}

.testimonials h2 {
    color: var(--primary-bg-color);
}

.carousel-item-testimonials {
    background-color: var(--primary-bg-color);
    border-radius: 20px;
    color: #fff;
    padding: 25px 0;
    border: 5px solid #ededed;
}

.carousel-item-testimonials p {
    padding: 15px;
}

.carousel-item-testimonials .fa-star {
    color: yellow;
    padding: 5px;
}